{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}
{% import 'tag/partials.html.twig' as tags %}

{% block content_class %}w-100{% endblock %}

{% block title %}Today{% endblock %}

{% block content_body %}
<div
     {{ stimulus_controller('today-page-bridge') }}
     class="resource js-data"
     data-duration-format="{{ app.user.durationFormat }}"
     data-date-format="date_time_today">

    <h1 class="text-center">Today</h1>

    {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Entries</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('report_today') }}">Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('task_active') }}">Active Tasks</a>
        </li>
    </ul>

    <div class="mt-2 mb-3">
        <button class="btn btn-primary js-create-time-entry">
            <span class="spinner-border spinner-border-sm d-none js-loading" role="status" aria-hidden="true"></span>
            Create time entry
        </button>
    </div>
    {% if pagination.count %}
        <div class="card-list js-time-entry-list mb-2">
            {% for timeEntry in pagination.items %}
                {{ include('time_entry/partials/_time-entry.html.twig', {timeEntry: timeEntry }) }}
            {% endfor %}
        </div>
    {% else %}
        <div class="stack-list">
            <div class="text-center pt-2 pb-2">No time entries</div>
        </div>
    {% endif %}

    {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
</div>
{% endblock %}
