{% import 'time/partials.html.twig' as time %}
{% import 'tag/partials.html.twig' as tags %}

<div
    class="card-list-item js-timestamp"
    data-id="{{ timestamp.idString }}"
>
    <div class="tag-list js-tag-list many-rows mt-1" data-initial-tags-name="{{ timestamp.tagNames() }}">
        <div class="js-tag-list-view">
            {% for tag in timestamp.tags %}
                {{ tags.view(tag.name, tag.color) }}
            {% endfor %}
        </div>
    </div>
    <div class="mt-2">
        <div {{ stimulus_controller('timeago', {
                start: timestamp.createdAt.timestamp
             }) }}
            class="time-ago">
            {{ timestamp.createdAt | ago }}
        </div>
        <div class="datetime">{{ time.user_datetime(timestamp.createdAt, app.user)}}</div>
    </div>
    <hr/>
    <div class="d-flex justify-content-end js-actions">
        <a href="{{ path('timestamp_view', {id: timestamp.idString}) }}" class="btn btn-primary js-view">View</a>

        <form
            action="{{ path('timestamp_repeat', {id: timestamp.idString}) }}"
            method="POST"
            {{ stimulus_controller('load-form') }}
            data-action="submit->load-form#start"
        >
            <input type="hidden" name="_token" value="{{ csrf_token('repeat_timestamp') }}" />

            <button
                    type="submit"
                    class="btn btn-secondary ms-2"
                    data-load-form-target="button">
                <span
                        class="spinner-border spinner-border-sm d-none"
                        role="status"
                        aria-hidden="true"
                        data-load-form-target="loading">
                </span>
                Repeat
            </button>
        </form>
    </div>
</div>