{% import 'time/partials.html.twig' as time %}
{% import 'tag/partials.html.twig' as tags %}
{% import 'components/autocomplete.html.twig' as autocomplete %}

<div
    class="card-list-item js-timestamp"
    data-id="{{ timestamp.idString }}"
>
    <div {{ stimulus_controller('editable-tags') }}>
        <div
            data-editable-tags-target="viewContainer"
            class="d-inline-flex flex-wrap align-items-baseline tag-list many-rows"
            data-app-turbo-cache="show">
            {% apply spaceless %}
                {% for tag in timestamp.tags %}
                    {{ tags.view(tag.name, tag.color) }}
                {% else %}
                    <span data-type="no-data">No tags</span>
                {% endfor %}
                <button
                    {{ stimulus_controller('bootstrap-tooltip') }}
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Edit"
                    data-editable-tags-target="editButton"
                    data-action="editable-tags#edit"
                    data-app-turbo-cache="show"
                    class="btn">
                <i class="fas fa-pencil-alt"></i>
                </button>
            {% endapply %}
        </div>
        <div class="d-none" data-editable-tags-target="editContainer">
            <div
                {{ stimulus_controller('sync-tag-list', {
                    addUrl: path('json_timestamp_tag_create', {id: timestamp.idString}),
                    removeUrl: path('json_timestamp_tag_delete', {id: timestamp.idString, tagName: '{NAME}'}),
                    autocompleteId: timestamp.idString
                }) }}
                class="tag-list many-rows tag-list-autocomplete"
                data-editable-tags-target="editableTagList"
                data-action="removable-tag:remove->sync-tag-list#removeTag"
                data-app-turbo-cache="hide">
            </div>
            <div data-app-turbo-cache="hide">
                {{ autocomplete.addTag('timestamp_' ~ timestamp.idString, timestamp.idString) }}
                <button
                        {{ stimulus_controller('bootstrap-tooltip') }}
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Done Editing"
                        data-action="editable-tags#stopEditing"
                        class="btn text-primary">
                    <i class="fas fa-check"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="mt-1">{{ timestamp.description }}</div>
    <div class="mt-1">
        <div {{ stimulus_controller('timeago', {
                start: timestamp.createdAt.timestamp
             }) }}
            class="time-ago">
            {{ timestamp.createdAt | ago }}
        </div>
        <div class="datetime">{{ time.user_datetime(timestamp.createdAt, app.user)}}</div>
    </div>
    <hr/>
    <div class="d-flex justify-content-end js-actions">
        <a href="{{ path('timestamp_view', {id: timestamp.idString}) }}" class="btn btn-primary js-view">View</a>

        <form
            action="{{ path('timestamp_repeat', {id: timestamp.idString}) }}"
            method="POST"
            {{ stimulus_controller('load-form') }}
            data-action="submit->load-form#start"
        >
            <input type="hidden" name="_token" value="{{ csrf_token('repeat_timestamp') }}" />

            <button
                    type="submit"
                    class="btn btn-secondary ms-2"
                    data-load-form-target="button">
                <span
                        class="spinner-border spinner-border-sm d-none"
                        role="status"
                        aria-hidden="true"
                        data-load-form-target="loading">
                </span>
                Repeat
            </button>
        </form>
    </div>
</div>