{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}
{% import 'tag/partials.html.twig' as tags %}

{% block content_class %}w-100{% endblock %}

{% block title %}Timestamps{% endblock %}

{% block content_body %}
    <div class="resource js-data"
         data-route-timestamp-view="timestamp_view;{{ path('timestamp_view', { id: 'TIMESTAMP_ID' }) }}"
         data-datetime-format="{{ app.user.dateTimeFormat }}"
         {% if pagination.sort == 'timestamp.createdAt' %}
         data-created-at-sort="{{ pagination.direction }}"
         {% else %}
         data-created-at-sort="none"
         {% endif %}
    >

        <h1 class="text-center">
            Timestamps
            <a
                {{ stimulus_controller('bootstrap-popover') }}
                class="pointer-hover help-button-title text-dark"
                href="#"
                data-bs-toggle="popover"
                title="What are timestamps?"
                data-bs-trigger="focus"
                data-bs-content="Timestamps keep track of when something happens. You can keep track of how often your server goes down, or the neighbor's dogs bark.">
                <i
                    class="far fa-question-circle"
                    tabindex="0">
                </i>
            </a>
        </h1>

        <div class="dropdown mb-2">
            <label>Sort</label>
            <button class="btn dropdown-toggle bg-white border border-gray ms-2" type="button" id="time-entry-sort" data-bs-toggle="dropdown" aria-expanded="false">
                {% if pagination.isSorted('timestamp.createdAt') and pagination.direction == 'asc' %}
                    Oldest
                {% else %}
                    Newest
                {% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="time-entry-sort">
                {{ knp_pagination_sortable(pagination, 'Newest', 'timestamp.createdAt', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Oldest', 'timestamp.createdAt', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
            </div>
        </div>

        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

        <div>
            <a href="{{ path('timestamp_create') }}" class="btn btn-primary">Create</a>
        </div>

        <div class="card-list js-timestamp-list mt-2 mb-2">
            {% for timestamp in pagination.items %}
                {{ include('timestamp/partials/_timestamp.html.twig', {timestamp: timestamp }) }}
            {% endfor %}
        </div>

        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('timestamp_index') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('timestamp_index') }}
{% endblock %}
