{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}
{% import 'tag/partials.html.twig' as tags %}
{% import 'components/autocomplete.html.twig' as autocomplete %}

{% block content_class %}w-100{% endblock %}

{% block title %}Timestamps{% endblock %}

{% block content_body %}
    <div class="resource">

        <h1 class="text-center">
            Timestamps
            <a
                {{ stimulus_controller('bootstrap-popover') }}
                class="pointer-hover help-button-title text-dark"
                href="#"
                data-bs-toggle="popover"
                title="What are timestamps?"
                data-bs-trigger="focus"
                data-bs-content="Timestamps keep track of when something happens. You can keep track of how often your server goes down, or the neighbor's dogs bark.">
                <i
                    class="far fa-question-circle"
                    tabindex="0">
                </i>
            </a>
        </h1>

        <div class="dropdown mb-2">
            <label>Sort</label>
            <button
                    id="timestamp-sort"
                    {{ stimulus_controller('bootstrap-dropdown') }}
                    class="btn dropdown-toggle bg-white border border-gray ms-2"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                {% if pagination.isSorted('timestamp.createdAt') and pagination.direction == 'asc' %}
                    Oldest
                {% else %}
                    Newest
                {% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="timestamp-sort">
                {{ knp_pagination_sortable(pagination, 'Newest', 'timestamp.createdAt', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Oldest', 'timestamp.createdAt', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
            </div>
        </div>

        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

        <div class="inline-form-header mb-2">Add Timestamp</div>
        {{ form_start(form, {
            attr: {
                class: 'row g-2',
                'data-controller': "load-form",
                'data-action': "submit->load-form#start",
            }
        }) }}
            <div class="col">
                <div
                    {{ stimulus_controller({
                        'tag-list': {},
                        'focus-redirect': {
                            targetId: 'timestamp-tag-search'
                        }
                    }) }}
                    class="tag-list tag-list-autocomplete border rounded h-100 bg-weak-white d-flex align-items-center"
                    data-action="autocomplete.change@window->tag-list#requestAddFromAutocomplete removable-tag:remove->tag-list#removeTag">
                    <span class="ps-2 pe-2 text-placeholder">Tags</span>
                    {{ form_widget(form.tagIds, {
                        attr: {
                            class: 'd-none',
                            'data-tag-list-target': 'hidden'
                        }})
                    }}
                </div>
            </div>
            <div class="col-auto">
                {{ autocomplete.addTag('timestamp') }}
            </div>
            <div class="col-auto">
                <button
                        type="submit"
                        class="btn btn-primary"
                        data-load-form-target="button">
                        <span
                                class="spinner-border spinner-border-sm d-none"
                                data-load-form-target="loading"
                                role="status"
                                aria-hidden="true">
                        </span>
                    Create
                </button>
            </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}

        <div class="card-list js-timestamp-list mt-2 mb-2">
            {% for timestamp in pagination.items %}
                {{ include('timestamp/partials/_timestamp.html.twig', {timestamp: timestamp }) }}
            {% endfor %}
        </div>

        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
    </div>
{% endblock %}
