{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}

{% block content_class %}w-100{% endblock %}

{% block content_body %}
    <div class="p-3 js-data"
         data-duration-format="{{ app.user.durationFormat }}"
         data-timestamp-id="{{ timestamp.idString }}">

        <div class="js-autocomplete-tags d-flex align-items-center mt-2">
            <div class="js-tags tag-list many-rows" data-initial-tags="{{ tags|json_encode|e('html_attr') }}"></div>

            <div class="autocomplete js-autocomplete js-autocomplete-tags">
                <div class="d-flex bg-white">
                    <div class="search border-right-0 rounded-right-0">
                        <input
                                type="text"
                                class="js-input"
                                placeholder="tag name..."
                                name="tag"
                                autocomplete="off">
                        <button class="clear js-clear btn btn-sm"><i class="fas fa-times"></i></button>
                    </div>
                    <button type="button" class="btn js-add btn-outline-primary rounded-left-0">
                        Add
                    </button>
                </div>
                <div class="search-results js-search-results d-none"></div>
            </div>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#delete-modal">
            Delete
        </button>
        {{ form_end(form) }}
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-label">Are you sure you want to delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This will delete the timestamp.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{{ path('timestamp_delete', {id: timestamp.id}) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('timestamp') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('timestamp') }}
{% endblock %}

