{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}
{% import 'components/autocomplete.html.twig' as autocomplete %}
{% import 'components/statistic-value.html.twig' as statistics %}

{% block content_class %}w-100{% endblock %}
{% block turbo %}false{% endblock %}
{% block title %}Timestamp{% endblock %}

{% block content_body %}
    <div class="resource js-data"
         data-duration-format="{{ app.user.durationFormat }}"
         data-timestamp-id="{{ timestamp.idString }}">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('timestamp_index') }}">Timestamps</a></li>
                <li class="breadcrumb-item active" aria-current="page">current</li>
            </ol>
        </nav>

        <label class="d-block form-label mt-3">Tags</label>

        <div class="d-flex flex-wrap align-items-center mt-2">
            <div
                {{ stimulus_controller('sync-tag-list', {
                    addUrl: path('json_timestamp_tag_create', {id: timestamp.idString}),
                    removeUrl: path('json_timestamp_tag_delete', {id: timestamp.idString, tagName: '{NAME}'})
                }) }}
                class="tag-list tag-list-autocomplete"
                data-action="autocomplete.change@window->sync-tag-list#requestAddFromAutocomplete removable-tag:remove->sync-tag-list#removeTag">
                {% for tag in tags %}
                    {{ include('tag/partials/_removable-tag.html.twig', { tag: tag}) }}
                {% endfor %}
            </div>
            {{ autocomplete.addTag('timestamp') }}
        </div>

        {{ form_start(form) }}
        {{ form_row(form.createdAt, {attr: {class: 'unset-width'}})}}

        <label>
            <span
                {{ stimulus_controller('toggle-class', {
                    className: 'd-none',
                    key: timestamp.idString
                }) }}
                data-action="upload-field:update:start@window->toggle-class#remove upload-field:update:finish@window->toggle-class#add"
                class="me-1 d-none">
                <i class="fas fa-sync-alt fa-spin"></i>
            </span>
            Description
        </label>
        {{ form_widget(form.description, {
            attr: {
                rows: 10,
                class: 'js-description mt-1',
                'data-controller': 'upload-field',
                'data-action': 'upload-field#update',
                'data-upload-field-key-value': timestamp.idString,
                'data-upload-field-field-name-value': 'description',
                'data-upload-field-url-value': path('json_timestamp_update', {id: timestamp.idString} )
            }}
        ) }}

        <label class="mt-2">Data</label>
        <div
            {{ stimulus_controller('create-statistic-value', {
                createUrl: path('json_timestamp_statistic_create', { id: timestamp.id })
            }) }}
            class="d-flex mt-1 js-add-statistic add-statistic">

            <div
                {{ stimulus_controller({
                    'autocomplete': {
                        url: path('partial_statistic_index', { timeType: 'instant' }),
                        minLength: -1,
                    },
                }) }}
                class="autocomplete-2 position-relative"
            >
                <label for="timestamp-statistic-search" class="visually-hidden">Search statistics</label>
                <input
                        id="timestamp-statistic-search"
                        type="search"
                        class="form-control search"
                        data-create-statistic-value-target="name"
                        data-autocomplete-target="input"
                        placeholder="statistic name"
                        autocomplete="off"
                        tabindex="1"
                />
                <ul
                        class="list-group results w-100"
                        data-autocomplete-target="results">
                </ul>
                <div
                        class="loading"
                        hidden
                        data-autocomplete-target="loading">
                    <div class="spinner-border spinner-border-sm text-primary me-1" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    Searching...
                </div>
            </div>


            <div class="ms-2">
                <label class="visually-hidden" for="add-statistic-value">record value</label>
                <input
                        id="add-statistic-value"
                        data-create-statistic-value-target="value"
                        tabindex="2"
                        type="number"
                        class="form-control"
                        placeholder="value..."
                        autocomplete="off"
                />
            </div>
            <button
                type="button"
                class="ms-2 btn btn-sm js-add bg-weak-white btn-outline-primary"
                data-action="create-statistic-value#create">
                <span
                    class="spinner-border spinner-border-sm d-none"
                    role="status"
                    aria-hidden="true"
                    data-create-statistic-value-target="loading"></span>
                <span
                    class="visually-hidden"
                    data-create-statistic-value-target="loading">Loading...</span>
                Add
            </button>
        </div>

        {{ statistics.valueList(timestamp.statisticValues, path('timestamp_record_index', {id: timestamp.idString}), {class: 'mt-2'}) }}

        <div class="mt-2">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#delete-modal">
                Delete
            </button>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-label">Are you sure you want to delete?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    This will delete the timestamp.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{{ path('timestamp_delete', {id: timestamp.id}) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
