{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}
{% import 'components/autocomplete.html.twig' as autocomplete %}

{% block content_class %}w-100{% endblock %}

{% block content_body %}
    <div class="p-3 js-data"
         data-duration-format="{{ app.user.durationFormat }}"
         data-timestamp-id="{{ timestamp.idString }}">

        <div class="js-autocomplete-tags-container d-flex align-items-center mt-2">
            <div class="js-tags tag-list many-rows" data-initial-tags="{{ tags|json_encode|e('html_attr') }}"></div>

            {{ autocomplete.add('tags', { button: { class: 'bg-weak-white btn-outline-primary'}, search: { placeholder: 'tag name' }  }) }}
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <label>Data</label>
        <div class="d-flex mt-2 js-add-statistic add-statistic">
            {{ autocomplete.list('statistic', { search: { tabIndex: '1' } }) }}
            <div class="ml-2">
                <label class="sr-only" for="add-statistic-value">record value</label>
                <input
                        id="add-statistic-value"
                        tabindex="2"
                        type="number"
                        class="js-statistic-input form-control"
                        placeholder="value..."
                        autocomplete="off"
                />
            </div>
            <button type="button" class="ml-2 btn btn-sm js-add bg-weak-white btn-outline-primary">
                Add
            </button>
        </div>

{#         TODO macro #}
{#        Try using it for a while #}
        <div class="statistic-values mt-2">
        {% for value in timestamp.statisticValues %}
            <div
                class="statistic-value-row js-statistic-item"
                data-id="{{ value.idString }}"
                data-name="{{ value.statistic.name }}">
                <div class="content">
                    <span class="statistic-name">{{ value.statistic.name }}</span>
                    <span class="statistic-value ml-3">{{ value.value }}</span>
                </div>
                <button type="button" class="btn btn-outline-danger btn-sm rounded-left-0 js-delete">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        {% endfor %}
        </div>

        <div class="mt-2">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#delete-modal">
                Delete
            </button>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-label">Are you sure you want to delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This will delete the timestamp.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{{ path('timestamp_delete', {id: timestamp.id}) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('timestamp') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('timestamp') }}
{% endblock %}

