{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}

{% block content_class %}w-100{% endblock %}

{% block title %}Statistics{% endblock %}

{% block content_body %}
<div class="resource">
    <h1 class="text-center">Statistics</h1>

    <div class="dropdown mb-2">
        <label>Sort</label>
        <button class="btn dropdown-toggle bg-white border-gray ml-2" type="button" id="time-entry-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if pagination.isSorted('statistic.createdAt') and pagination.direction == 'asc' %}
                Oldest
            {% elseif pagination.isSorted('statistic.createdAt') and pagination.direction == 'desc' %}
                Newest
            {% elseif pagination.isSorted('statistic.name') and pagination.direction == 'asc' %}
                Name - asc
            {% elseif pagination.isSorted('statistic.name') and pagination.direction == 'desc' %}
                Name - desc
            {% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="time-entry-sort">
            {{ knp_pagination_sortable(pagination, 'Newest', 'statistic.createdAt', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Oldest', 'statistic.createdAt', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Name - asc', 'statistic.name', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Name - desc', 'statistic.name', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
        </div>
    </div>

    {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

    <form class="row no-gutters mt-3 js-create-statistic">
        <div>
            <label class="sr-only" for="statistic-create-name"></label>
            <input id="statistic-create-name" type="text" class="form-control" placeholder="name">
        </div>

        <div class="col ml-2">
            <label class="sr-only" for="statistic-create-description"></label>
            <input id="statistic-create-description" type="text" class="form-control" placeholder="description">
        </div>

        <div class="ml-2">
            <label class="sr-only" for="statistic-create-time-type"></label>
            <select id="statistic-create-time-type" class="form-control">
                <option value="instant" selected="selected">instant</option>
                <option value="interval">interval</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary js-loading-button ml-2">
            <span class="js-loading spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            <span class="js-loading sr-only">Loading...</span>
            <span class="js-text">Create</span>
        </button>
    </form>

    <div class="mt-3 mb-3 card-list js-statistic-list">
        {% for statistic in pagination.items %}
            {{ include('statistic/partials/_statistic.html.twig', {statistic: statistic}) }}
        {% else %}
            <div class="text-center">No results found</div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('statistic_index') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('statistic_index') }}
{% endblock %}

