{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}

{% block content_class %}w-100{% endblock %}

{% block title %}Statistics{% endblock %}

{% block content_body %}
<div class="resource">
    <h1 class="text-center">Statistics</h1>

    <div class="dropdown mb-2">
        <label>Sort</label>
        <button
                id="statistic-sort"
                {{ stimulus_controller('bootstrap-dropdown') }}
                class="btn dropdown-toggle bg-white border border-gray ms-2"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            {% if pagination.isSorted('statistic.createdAt') and pagination.direction == 'asc' %}
                Oldest
            {% elseif pagination.isSorted('statistic.createdAt') and pagination.direction == 'desc' %}
                Newest
            {% elseif pagination.isSorted('statistic.name') and pagination.direction == 'asc' %}
                Name - asc
            {% elseif pagination.isSorted('statistic.name') and pagination.direction == 'desc' %}
                Name - desc
            {% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="statistic-sort">
            {{ knp_pagination_sortable(pagination, 'Newest', 'statistic.createdAt', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Oldest', 'statistic.createdAt', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Name - asc', 'statistic.name', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Name - desc', 'statistic.name', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
        </div>
    </div>

    {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

    <label class="form-label"><strong>Add record</strong></label>
    {{ form_start(form, {
        attr: {
            class: 'row g-2 align-items-baseline',
            'data-controller': "load-form",
            'data-action': "submit->load-form#start",
            'autocomplete': 'off'
        }
    }) }}
        <div class="col col-md-3">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="col">
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="col-auto">
            {{ form_widget(form.timeType) }}
            {{ form_errors(form.timeType) }}
        </div>
        <div class="col-auto">
            <button
                    type="submit"
                    class="btn btn-primary"
                    data-load-form-target="button">
                    <span
                            class="spinner-border spinner-border-sm d-none"
                            data-load-form-target="loading"
                            role="status"
                            aria-hidden="true">
                    </span>
                Create
            </button>
        </div>
    {{ form_end(form) }}

    <div class="mt-3 mb-3 card-list js-statistic-list">
        {% for statistic in pagination.items %}
            {{ include('statistic/partials/_statistic.html.twig', {statistic: statistic}) }}
        {% else %}
            <div class="text-center">No results found</div>
        {% endfor %}
    </div>

    {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
</div>
{% endblock %}

