{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}
{% import 'components/autocomplete.html.twig' as autocomplete %}

{% block content_class %}w-100{% endblock %}
{% block turbo %}false{% endblock %}
{% block title %}Stat: {{ statistic.name }}{% endblock %}

{% block content_body %}
    <div class="resource js-data"
         data-statistic-id="{{ statistic.idString }}">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('statistic_index') }}">Statistics</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ statistic.name }}</li>
            </ol>
        </nav>

        <h1 class="text-center">
            <div
                {{
                    stimulus_controller('style-setter', { key: statistic.idString ~ '-color', property: 'color' }) |
                    stimulus_controller('icon-setter', { key: statistic.idString ~ '-icon' })
                }}
                data-action="value-emitter:change@window->style-setter#setProperty value-emitter:change@window->icon-setter#setIcon"
                class="d-inline-block me-2" style="color: {{ statistic.color }}">
                {% if statistic.icon %}
                    <i class="{{ statistic.icon }}"></i>
                {% endif %}
            </div>
            {{ statistic.name }}
        </h1>

        <div class="mb-2 mt-2">Created: {{ time.user_datetime(statistic.createdAt, app.user) }}</div>
        <label class="d-block form-label mt-3">Tags</label>
        <div class="mt-2 d-flex align-items-center">
            <div
                {{ stimulus_controller('tag-list', {
                    addUrl: path('json_statistic_tag_create', {id: statistic.idString}),
                    removeUrl: path('json_statistic_tag_delete', {id: statistic.idString, tagName: '{NAME}'})
                }) }}
                class="tag-list tag-list-autocomplete"
                data-tag-list-tags-value="{{ tags|json_encode|e('html_attr') }}"
                data-action="autocomplete.change@window->tag-list#requestAddFromAutocomplete tag:add@window->tag-list#add tag:remove@window->tag-list#remove">
            </div>

            {{ autocomplete.addTag('statistic') }}
        </div>


        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.color, {
            attr: {
                class: 'w-p-50 js-color',
                'data-controller': 'value-emitter',
                'data-value-emitter-debounce-value': 300,
                'data-value-emitter-key-value': statistic.idString ~ '-color',
                'data-action': 'value-emitter#valueChanged'
            }
        }) }}
        {{ form_row(form.icon, {
            attr: {
                class: 'js-icon',
                'data-controller': 'value-emitter',
                'data-value-emitter-key-value': statistic.idString ~ '-icon',
                'data-action': 'value-emitter#valueChanged'
            }
        }) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#delete-modal">
            Delete
        </button>
        {{ form_end(form) }}
    </div>

    <!-- Delete modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-label">Are you sure you want to delete?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    This will delete the statistic
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{{ path('statistic_delete', {id: statistic.id}) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

