{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}
{% import 'components/autocomplete.html.twig' as autocomplete %}

{% block content_class %}w-100{% endblock %}

{% block title %}Records{% endblock %}

{% block content_body %}
    <div class="resource">
        <h1 class="text-center baseline">Data Records</h1>

        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

        <label class="form-label"><strong>Add record</strong></label>
        {{ form_start(form, {
            attr: {
                class: 'row g-2',
                'data-controller': "load-form",
                'data-action': "submit->load-form#start"
            }
        }) }}
        <div
            {{ stimulus_controller('autocomplete', {
                    url: path('partial_statistic_index', { timeType: 'interval'} ),
                    minLength: -1,
                    passValue: true
                }
            ) }}
            class="autocomplete-2 col position-relative">
            {{ form_widget(form.statisticName, { attr: {class: 'd-none', 'data-autocomplete-target': 'hidden'}}) }}
            <input
                    type="search"
                    class="form-control"
                    data-autocomplete-target="input"
                    placeholder="name"
                    autocomplete="off"
                    required
            />
            {{ form_errors(form.statisticName) }}
            <ul
                class="list-group results w-100"
                data-autocomplete-target="results">
            </ul>
            <div
                class="loading"
                hidden
                data-autocomplete-target="loading">
                <div class="spinner-border spinner-border-sm text-primary me-1" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                Searching...
            </div>
        </div>
        <div class="col-auto">
            {{ form_widget(form.value) }}
            {{ form_errors(form.value) }}
        </div>
        <div class="col-auto">
            {{ form_widget(form.day, {
                attr: {
                    class: 'col-auto',
                    value: 'now'|date('Y-m-d', app.user.timezone)
                }
            }) }}
        </div>
        <div class="col-auto">
            <button
                    type="submit"
                    class="btn btn-primary"
                    data-load-form-target="button">
                <span
                    class="spinner-border spinner-border-sm d-none"
                    data-load-form-target="loading"
                    role="status"
                    aria-hidden="true">
                </span>
                Add
            </button>
        </div>
        {{ form_end(form) }}

        <table class="table table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th>Start</th>
                <th>Statistic</th>
                <th>Value</th>
                <th>Resource</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for date in data|keys %}
                <tr>
                    <td colspan="5" class="table-secondary font-weight-bold">{{ date }}</td>
                </tr>
                {% for value in data[date] %}
                <tr>
                    <td>
                        {% if value.timestamp %}
                            {{ time.user_datetime(value.startedAt, app.user) }}
                        {% elseif value.timeEntry %}
                            {{ time.user_datetime(value.startedAt, app.user) }} -
                            {{ time.user_datetime(value.endedAt, app.user) }}
                        {% else %}
                            {{ time.user_date(value.startedAt, app.user) }}
                        {% endif %}
                    </td>
                    <td>
                        <span style="color: {{ value.statistic.color }}">
                            {% if value.statistic.icon %}
                                <i class="{{ value.statistic.icon }}"></i>
                            {% endif %}
                        </span>
                        <span class="ms-2">{{ value.statistic.name }}</span>
                    </td>
                    <td>{{ value.value }}</td>
                    <td>
                        {% if value.timestamp %}
                            timestamp
                        {% elseif value.timeEntry %}
                            time entry
                        {% else %}
                            day
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('statistic_value_view', {id: value.idString}) }}" class="btn btn-primary">View</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="4">No results found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
    </div>
{% endblock %}

