{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}

{% block content_class %}w-100{% endblock %}
{% block turbo %}false{% endblock %}
{% block title %}Record: {{ statisticValue.statistic.name }}{% endblock %}

{% block content_body %}
    <div class="resource">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('statistic_value_index') }}">Records</a></li>
                <li class="breadcrumb-item active" aria-current="page">current</li>
            </ol>
        </nav>

        <h1 class="text-center">{{ statisticValue.statistic.name }}</h1>

        <div>
            <div>
                <strong>Statistic</strong> <a href="{{ path('statistic_view', {id: statisticValue.statistic.id}) }}">{{ statisticValue.statistic.name }}</a>
            </div>
            <div>
                <strong>Resource</strong>
                {% if statisticValue.timestamp %}
                    <a href="{{ path('timestamp_view', { id: statisticValue.timestamp.id}) }}">timestamp</a>
                {% elseif statisticValue.timeEntry %}
                    <a href="{{ path('time_entry_view', { id: statisticValue.timeEntry.id}) }}">time entry</a>
                {% else %}
                    day
                {% endif %}
            </div>
            <div>
                <strong>Start:</strong> {{ time.user_datetime(statisticValue.startedAt, app.user) }}
            </div>
            <div>
                <strong>End:</strong> {{ time.user_datetime(statisticValue.endedAt, app.user) }}
            </div>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#delete-modal">
            Delete
        </button>
        {{ form_end(form) }}

    </div>
    {{ form_end(form) }}

    <!-- Delete modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-label">Are you sure you want to delete?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    This will delete the record
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{{ path('statistic_value_delete', {id: statisticValue.id}) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('statistic_value') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('statistic_value') }}
{% endblock %}

