{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}
{% import 'components/autocomplete.html.twig' as autocomplete %}

{% block content_class %}w-100{% endblock %}

{% block title %}Active Tasks{% endblock %}

{% block content_body %}
<div class="resource">
    <h1 class="text-center">Active Tasks</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('today_index') }}">Entries</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('report_today') }}">Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Active Tasks</a>
        </li>
    </ul>

    <div class="dropdown mt-2 mb-2">
        <label>Sort</label>
        <button
                id="task-sort"
                {{ stimulus_controller('bootstrap-dropdown') }}
                class="btn dropdown-toggle bg-white border border-gray ms-2"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            {% if pagination.isSorted('task.createdAt') and pagination.direction == 'desc' %}
                Newest
            {% elseif pagination.isSorted('task.createdAt') and pagination.direction == 'asc'  %}
                Oldest
            {% elseif pagination.isSorted('task.timeEstimate') and pagination.direction == 'asc' %}
                Fastest (estimate)
            {% elseif pagination.isSorted('task.timeEstimate') and pagination.direction == 'desc' %}
                Slowest (estimate)
            {% elseif pagination.isSorted('task.priority') and pagination.direction == 'asc' %}
                Lowest Priority
            {% elseif pagination.isSorted('task.priority') and pagination.direction == 'desc' %}
                Highest Priority
            {% elseif pagination.isSorted('task.dueAt') and pagination.direction == 'asc' %}
                Due soon
            {% elseif pagination.isSorted('task.name') and pagination.direction == 'asc' %}
                Name - asc
            {% elseif pagination.isSorted('task.name') and pagination.direction == 'desc' %}
                Name - desc
            {% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="task-sort">
            {{ knp_pagination_sortable(pagination, 'Newest', 'task.createdAt', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Oldest', 'task.createdAt', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Fastest (estimate)', 'task.timeEstimate', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Slowest (estimate)', 'task.timeEstimate', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Highest Priority', 'task.priority', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Lowest Priority', 'task.priority', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Due soon', 'task.dueAt', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Name - asc', 'task.name', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Name - desc', 'task.name', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
        </div>
    </div>

    {{ form_start(form, {
        attr: {
            "data-controller": "task-action-form",
            "data-action": "task-complete:complete->task-action-form#onComplete",
            class: "stack-list task-list js-task-list mt-2 mb-2"
        }})
    }}
        {% for task in pagination %}
            {{ include('task/partials/_task.html.twig', {task: task, loadOnComplete: true }) }}
        {% else %}
            <div class="text-center mt-2 mb-2 js-no-tasks">No tasks found</div>
        {% endfor %}

        <div class="d-none">
        {{ form_row(form.taskId, { attr: {"data-task-action-form-target": "taskId"} }) }}
        {{ form_row(form.action, { attr: {"data-task-action-form-target": "action"} }) }}
        {{ form_row(form.value, { attr: {"data-task-action-form-target": "value"} }) }}
        </div>
    {{ form_end(form) }}

    {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
</div>
{% endblock %}