{% extends 'sidebar.html.twig' %}

{% block content_class %}w-100{% endblock %}

{% block content_body %}
    <div class="resource js-data"
         data-duration-format="{{ app.user.durationFormat }}">

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_label(form.completedAt) }}
        <div {{ stimulus_controller('clear-value') }}
            class="d-inline-flex mt-1">
            {{ form_widget(form.completedAt, {
                attr: {class: 'anti-form-control', 'data-clear-value-target': 'clearable'}
            }) }}
            <button
                    type="button"
                    class="btn btn-danger ms-2"
                    data-action="clear-value#clear">
                <i class="fas fa-trash"></i>
            </button>
        </div>
        {{ form_widget(form) }}
        <div class="d-flex mt-3">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
