{% extends 'sidebar.html.twig' %}

{% block content_class %}w-100{% endblock %}

{% block content_body %}
    <div class="resource js-data"
         data-duration-format="{{ app.user.durationFormat }}">

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_label(form.completedAt) }}
        <div class="d-inline-flex mt-1">
            {{ form_widget(form.completedAt, {attr: {class: 'anti-form-control'}}) }}
            <button type="button" class="btn btn-danger js-clear-datetime ml-2">
                <i class="fas fa-trash"></i>
            </button>
        </div>
        {{ form_widget(form) }}
        <div class="d-flex mt-3">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
