{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}

{% block content_class %}w-100{% endblock %}

{% block title %}Tasks{% endblock %}

{% block content_body %}
    <div class="p-3 js-data"
         data-duration-format="{{ app.user.durationFormat }}"
         data-date-format="date_time_today"
         data-show-completed="{{ filterForm.showCompleted.vars.data }}"
         data-route-time-entry-index="time_entry_index;{{ path('time_entry_index') }}"
         data-route-task-view="task_view;{{ path('task_view', {id: 'TASK_ID'}) }}"
        {% if pagination.sort == 'task.name' %}
            data-name-sort="{{ pagination.direction }}"
        {% else %}
            data-name-sort="none"
        {% endif %}
    >

        <h1 class="text-center">Tasks</h1>

        <div class="filter table-filter mb-3">
            <div class="filter-title">Filter</div>
            {{ form_start(filterForm) }}
            {{ form_widget(filterForm) }}
            <button type="submit" class="btn btn-primary">Search</button>
            {{ form_end(filterForm) }}
        </div>

        <div class="dropdown mb-2">
            <label>Sort</label>
            <button class="btn dropdown-toggle bg-white border-gray ml-2" type="button" id="time-entry-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if pagination.isSorted('task.createdAt') and pagination.direction == 'desc' %}
                    Newest
                {% elseif pagination.isSorted('task.createdAt') and pagination.direction == 'asc'  %}
                    Oldest
                {% elseif pagination.isSorted('task.name') and pagination.direction == 'asc' %}
                    Name - asc
                {% elseif pagination.isSorted('task.name') and pagination.direction == 'desc' %}
                    Name - desc
                {% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="time-entry-sort">
                {{ knp_pagination_sortable(pagination, 'Newest', 'task.createdAt', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Oldest', 'task.createdAt', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Name - asc', 'task.name', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Name - desc', 'task.name', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
            </div>
        </div>

        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

        <div class="inline-form-header mb-2">Add Task</div>
        <form class="js-task-create form-row">
            <div class="col">
                <label class="sr-only" for="create-task-name">New task name</label>
                <input type="text" id="create-task-name" class="form-control js-name" placeholder="What do you want to achieve?" />
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary js-button js-loading-button">
                    <span class="js-loading spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    <span class="js-loading sr-only">Loading...</span>
                    <span class="js-text">Create task</span>
                </button>
            </div>
        </form>

        <div class="card-list js-task-list mt-2">
            {% for task in pagination %}
                {{ include('task/partials/_task.html.twig', {task: task }) }}
            {% endfor %}
        </div>

        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('task_index') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('task_index') }}
{% endblock %}
