{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}
{% import 'components/autocomplete.html.twig' as autocomplete %}

{% block content_class %}w-100{% endblock %}

{% block title %}Tasks{% endblock %}

{% block metas %}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block content_body %}
    <div
         {{ stimulus_controller('task-index-page-bridge') }}
         class="resource js-data"
         data-duration-format="{{ app.user.durationFormat }}"
         data-date-format="date_time_today"
         data-show-completed="{{ filterForm.showCompleted.vars.data }}"
         data-route-time-entry-index="time_entry_index;{{ path('time_entry_index') }}"
         data-route-task-view="task_view;{{ path('task_view', {id: 'TASK_ID'}) }}"
        {% if pagination.sort == 'task.name' %}
            data-name-sort="{{ pagination.direction }}"
        {% else %}
            data-name-sort="none"
        {% endif %}
    >

        <h1 class="text-center">Tasks</h1>

        <div class="filter table-filter mb-3">
            <div class="filter-title">Filter</div>
            {{ form_start(filterForm, {
                attr: {
                    'data-controller': "load-form",
                    'data-action': "submit->load-form#start",
                }
            }) }}
            {{ form_errors(filterForm) }}
            <div class="d-flex flex-column flex-md-row">
                {{ form_row(filterForm.showCompleted, { attr: { 'data-controller': 'false-checkbox' }}) }}
                <div class="ms-md-3">
                    {{ form_row(filterForm.showSubtasks, { attr: { 'data-controller': 'false-checkbox' }}) }}
                </div>
                <div class="ms-md-3">
                    {{ form_row(filterForm.onlyShowPastDue, { attr: { 'data-controller': 'false-checkbox' }}) }}
                </div>
                <div class="ms-md-3">
                    {{ form_row(filterForm.onlyTemplates, { attr: { 'data-controller': 'false-checkbox' }}) }}
                </div>
            </div>
            {{ form_row(filterForm.content) }}
            {{ form_row(filterForm.parentTask, {
                attr: {class: 'd-none'},
                label_attr: {class: 'd-none'}
            })}}

            {{ form_label(filterForm.tags, null, {label_attr: {class: 'd-block'}}) }}
            <div class="d-flex align-items-center mb-2">
                <div
                        {{ stimulus_controller('tag-list') }}
                        class="tag-list tag-list-autocomplete"
                        data-tag-list-tags-csv-value="{{ app.request.query.get('tags') }}"
                        data-action="autocomplete.change@window->tag-list#requestAddFromAutocomplete tag:add@window->tag-list#add tag:remove@window->tag-list#remove">

                    {{ form_widget(filterForm.tags, {
                        attr: {
                            class: 'd-none',
                            'data-tag-list-target': 'hidden',
                            value: app.request.query.get('tags')
                        }})
                    }}
                </div>

                {{ autocomplete.addTag('task-filter') }}
            </div>

            <button
                    type="submit"
                    class="btn btn-primary"
                    data-load-form-target="button">
                <span
                        class="spinner-border spinner-border-sm d-none"
                        data-load-form-target="loading"
                        role="status"
                        aria-hidden="true">
                </span>
                Search
            </button>
            {{ form_end(filterForm) }}
        </div>

        <div class="dropdown mb-2">
            <label>Sort</label>
            <button
                    id="task-sort"
                    {{ stimulus_controller('bootstrap-dropdown') }}
                    class="btn dropdown-toggle bg-white border border-gray ms-2"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                {% if pagination.isSorted('task.createdAt') and pagination.direction == 'desc' %}
                    Newest
                {% elseif pagination.isSorted('task.createdAt') and pagination.direction == 'asc'  %}
                    Oldest
                {% elseif pagination.isSorted('task.timeEstimate') and pagination.direction == 'asc' %}
                    Fastest (estimate)
                {% elseif pagination.isSorted('task.timeEstimate') and pagination.direction == 'desc' %}
                    Slowest (estimate)
                {% elseif pagination.isSorted('task.priority') and pagination.direction == 'asc' %}
                    Lowest Priority
                {% elseif pagination.isSorted('task.priority') and pagination.direction == 'desc' %}
                    Highest Priority
                {% elseif pagination.isSorted('task.dueAt') and pagination.direction == 'asc' %}
                    Due soon
                {% elseif pagination.isSorted('task.name') and pagination.direction == 'asc' %}
                    Name - asc
                {% elseif pagination.isSorted('task.name') and pagination.direction == 'desc' %}
                    Name - desc
                {% elseif pagination.isSorted('task.completedAt') and pagination.direction == 'asc' %}
                    Completed - oldest
                {% elseif pagination.isSorted('task.completedAt') and pagination.direction == 'desc' %}
                    Completed - latest
                {% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="task-sort">
                {{ knp_pagination_sortable(pagination, 'Newest', 'task.createdAt', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Oldest', 'task.createdAt', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Fastest (estimate)', 'task.timeEstimate', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Slowest (estimate)', 'task.timeEstimate', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Highest Priority', 'task.priority', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Lowest Priority', 'task.priority', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Due soon', 'task.dueAt', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Name - asc', 'task.name', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Name - desc', 'task.name', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Completed - oldest', 'task.completedAt', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
                {{ knp_pagination_sortable(pagination, 'Completed - latest', 'task.completedAt', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
            </div>
        </div>

        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

        <div class="inline-form-header mb-2">Add Task</div>

        {{ form_start(form, {
            attr: {
                class: 'row g-2',
                'data-controller': "load-form",
                'data-action': "submit->load-form#start",
            }
        }) }}
            <div class="col">
                {{ form_widget(form.name, {
                    attr: {
                        placeholder: 'name',
                        autocomplete: 'off'
                    }}
                ) }}
            </div>
            <div class="col-3">
                <div
                    {{ stimulus_controller('app-autocomplete', {
                            url: path('task_index_partial'),
                            minLength: -1,
                            queryName: 'content',
                            type: 'task',
                            params: { showCompleted: 1, onlyTemplates: 1 }|json_encode
                        }) }}
                        class="autocomplete-2 position-relative">

                    <label for="add-task-template" class="visually-hidden">Task template</label>
                    <input
                        id="add-task-template"
                        type="search"
                        data-app-autocomplete-target="input"
                        class="form-control"
                        placeholder="template"
                    >

                    <div class="d-none">
                        {{ form_widget(form.taskTemplate, {attr: {'data-app-autocomplete-target': 'hidden'}}) }}
                    </div>

                    <ul
                        class="list-group results w-100"
                        data-app-autocomplete-target="results">
                    </ul>
                    <div
                        class="loading"
                        hidden
                        data-app-autocomplete-target="loading">
                        <div class="spinner-border spinner-border-sm text-primary me-1" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        Searching...
                    </div>
                </div>
            </div>
            <div class="d-none">
                {{ form_rest(form) }}
            </div>
            <div class="col-auto">
                <button
                        type="submit"
                        class="btn btn-primary"
                        data-load-form-target="button">
                        <span
                                class="spinner-border spinner-border-sm d-none"
                                data-load-form-target="loading"
                                role="status"
                                aria-hidden="true">
                        </span>
                    Create
                </button>
            </div>
        {{ form_end(form) }}

        <div class="stack-list task-list js-task-list mt-2 mb-2">
            {% for task in pagination %}
                {{ include('task/partials/_task.html.twig', {task: task }) }}
            {% else %}
                <div class="text-center mt-2 mb-2 js-no-tasks">No tasks found</div>
            {% endfor %}
        </div>

        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
    </div>
{% endblock %}
