{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}

{% block content_class %}w-100{% endblock %}

{% block content_body %}
    <div class="p-3 js-data"
         data-duration-format="{{ app.user.durationFormat }}"
         data-task-id="{{ task.idString }}">

        {{ form_start(form) }}
        {{ form_label(form.completedAt) }}
        <div class="d-inline-flex mt-1">
            {{ form_widget(form.completedAt) }}
            <button type="button" class="btn btn-danger js-clear-datetime ml-2">
                <i class="fas fa-trash"></i>
            </button>
        </div>

        {{ form_row(form.name) }}

        <ul class="nav nav-tabs mt-3" id="description-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active activity-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="home" aria-selected="true">
                    Activity
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link markdown-link" id="home-tab" data-toggle="tab" href="#markdown" role="tab" aria-controls="home" aria-selected="true">
                    <i class="fas fa-sync-alt fa-spin mr-1 d-none js-loading"></i>
                    Description
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="markdown-tab" data-toggle="tab" href="#preview" role="tab" aria-controls="profile" aria-selected="false">Preview</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-selected="false">Details</a>
            </li>
        </ul>
        <div class="tab-content" id="description-content">
            <div class="tab-pane fade show active" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                <div class="js-task-time-entry">
                    <div class="js-content d-flex align-items-center mt-2">
                        <textarea rows="2" class="js-time-entry-description"></textarea>
                        <div class="js-duration"></div>
                        <button type="button" class="btn btn-primary ml-2">
                            <span class="js-loading spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="js-loading sr-only">Loading...</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="markdown" role="tabpanel" aria-labelledby="markdown-tab">
                {{ form_widget(form.description, {attr: { rows: 10, class: 'js-description' }}) }}
            </div>
            <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="profile-tab">
                <div id="preview-content" class="border rounded"></div>
            </div>
            <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Timestamp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Created</td>
                        <td>{{ time.user_date(task.createdAt, app.user) }}</td>
                    </tr>
                    <tr>
                        <td>Updated</td>
                        <td>{{ time.user_date(task.updatedAt, app.user) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {{ form_widget(form) }}
        <div class="d-flex mt-3">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('task') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('task') }}
{% endblock %}