{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}
{% import 'tag/partials.html.twig' as tags %}
{% import 'components/autocomplete.html.twig' as autocomplete %}

{% block content_class %}w-100{% endblock %}

{% block title %}Time Entries{% endblock %}

{% block content_body %}
<div
     {{ stimulus_controller('time-entry-page-bridge') }}
     class="resource js-data"
     data-duration-format="{{ app.user.durationFormat }}"
     data-date-format="date_time">
    <h1 class="text-center">Time Entries</h1>

    <div class="filter table-filter mb-3">
        <div class="filter-title">Filter</div>
        {{ form_start(filterForm) }}
        {{ form_errors(filterForm) }}

        <div class="d-flex flex-wrap mb-1">
            <div>
                <div>{{ form_label(filterForm.start) }}</div>
                <div {{ stimulus_controller('clear-value')}}
                    class="d-inline-flex me-2">
                    {{ form_widget(filterForm.start, {attr: {'data-clear-value-target': 'clearable'}}) }}
                    <button
                            type="button"
                            class="btn btn-danger ms-2"
                            data-action="clear-value#clear">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
            <div>
                <div>{{ form_label(filterForm.end) }}</div>
                <div {{ stimulus_controller('clear-value')}}
                    class="d-inline-flex">
                    {{ form_widget(filterForm.end, {attr: {'data-clear-value-target': 'clearable'}}) }}
                    <button
                            type="button"
                            class="btn btn-danger ms-2"
                            data-action="clear-value#clear">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>

        {{ form_label(filterForm.tags, null, {label_attr: {class: 'd-block'}}) }}

        <div class="d-flex align-items-center">
            <div
                {{ stimulus_controller('tag-list') }}
                class="tag-list tag-list-autocomplete"
                data-action="autocomplete.change@window->tag-list#requestAddFromAutocomplete removable-tag:remove->tag-list#removeTag">

                {% if app.request.query.get('tags')|length != 0 %}
                    {% for tagName in app.request.query.get('tags')|split(',') %}
                        {{ include('tag/partials/_removable-tag.html.twig', { tag: { name: tagName, color: '#5d5d5d' }} ) }}
                    {% endfor %}
                {% endif %}

                {{ form_widget(filterForm.tags, {
                    attr: {
                        class: 'd-none',
                        'data-tag-list-target': 'hidden'
                    }})
                }}
            </div>

            {{ autocomplete.addTag('time-entry-filter') }}
        </div>

        {{ form_label(filterForm.taskId, null, {label_attr: {class: 'd-block'}}) }}

        <div class="row g-0">
            <div
                {{ stimulus_controller('app-autocomplete', {
                    url: path('task_index_partial'),
                    minLength: -1,
                    queryName: 'content',
                    type: 'task',
                    params: { showCompleted: 1 }|json_encode
                }) }}
                class="autocomplete-2 position-relative col-md-4"
            >
                <label for="add-task-template" class="visually-hidden">Task template</label>
                <input
                        id="add-task-template"
                        type="search"
                        data-app-autocomplete-target="input"
                        class="form-control"
                        placeholder="task"
                        value="{{ task.name ?? '' }}"
                >

                <div class="d-none">
                    {{ form_widget(filterForm.taskId, {attr: {'data-app-autocomplete-target': 'hidden'}}) }}
                </div>

                <ul
                    class="list-group results w-100"
                    data-app-autocomplete-target="results">
                </ul>
                <div
                    class="loading"
                    hidden
                    data-app-autocomplete-target="loading">
                    <div class="spinner-border spinner-border-sm text-primary me-1" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    Searching...
                </div>
            </div>
        </div>

        <div class="d-block">
            <button type="submit" class="btn btn-primary mt-2">Search</button>
        </div>

        {{ form_end(filterForm) }}
    </div>

    <div class="dropdown mb-2">
        <label>Sort</label>
        <button
                id="time-entry-sort"
                {{ stimulus_controller('bootstrap-dropdown') }}
                class="btn dropdown-toggle bg-white border border-gray ms-2"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            {% if pagination.isSorted('time_entry.startedAt') and pagination.direction == 'asc' %}
                Oldest
            {% else %}
                Newest
            {% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="time-entry-sort">
            {{ knp_pagination_sortable(pagination, 'Newest', 'time_entry.startedAt', { class: 'dropdown-item' }, { direction: 'desc' }, 'pagination/dropdown.html.twig'  ) }}
            {{ knp_pagination_sortable(pagination, 'Oldest', 'time_entry.startedAt', { class: 'dropdown-item' }, { direction: 'asc' }, 'pagination/dropdown.html.twig'  ) }}
        </div>
    </div>

    {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

    <div class="mt-2 mb-3">
        <button class="btn btn-primary js-create-time-entry">
            <span class="spinner-border spinner-border-sm d-none js-loading" role="status" aria-hidden="true"></span>
            Create time entry
        </button>
    </div>
    <div class="card-list js-time-entry-list mb-2">
    {% for timeEntry in pagination.items %}
        {{ include('time_entry/partials/_time-entry-small.html.twig', {timeEntry: timeEntry }) }}
    {% else %}
        <div class="text-center">No results found</div>
    {% endfor %}
    </div>

    {{ knp_pagination_render(pagination, null, {}, {align: 'center'}) }}
</div>
{% endblock %}