{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}
{% import 'tag/partials.html.twig' as tags %}

{% block content_class %}w-100{% endblock %}

{% block title %}TimeTracker - Today{% endblock %}

{% block content_body %}
    <div class="p-3 js-data"
         data-duration-format="{{ app.user.durationFormat }}"
         data-date-format="today">

        <h1 class="text-center">Today</h1>

        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Entries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('report_today') }}">Report</a>
            </li>
        </ul>

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Tags</th>
                <th>{{ knp_pagination_sortable(pagination, 'Start', 'time_entry.startedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'End', 'time_entry.endedAt') }}</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for timeEntry in pagination.items %}
                <tr>
                    <td>
                        {% for timeEntryTag in timeEntry.timeEntryTags %}
                        {% set tag = timeEntryTag.tag %}
                            {{ tags.view(tag.name, tag.color) }}
                        {% endfor %}
                    </td>
                    <td class="js-started-at">{{ time.user_date_today(timeEntry.startedAt, app.user) }}</td>
                    <td class="js-ended-at">
                        {% if timeEntry.over %}
                            {{ time.user_date_today(timeEntry.endedAt, app.user) }}
                        {% endif %}
                    </td>
                    <td class="js-duration">
                        {% if timeEntry.over %}
                            {{ time.user_duration(timeEntry.duration, app.user) }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('time_entry_view', {id: timeEntry.idString}) }}" class="btn btn-primary">View</a>
                        <a href="{{ path('time_entry_continue', {id: timeEntry.idString}) }}" class="btn btn-secondary">Continue</a>
                        {% if timeEntry.running %}
                            <button data-time-entry-id="{{ timeEntry.idString }}" class="btn btn-secondary js-stop">
                                <span class="spinner-border spinner-border-sm d-none js-loading" role="status" aria-hidden="true"></span>
                                Stop
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3">Total time</th>
                <td colspan="2">{{ totalTime }}</td>
            </tr>
            </tfoot>
        </table>

        <div>
            <button class="btn btn-primary js-create-time-entry">
                <span class="spinner-border spinner-border-sm d-none js-loading" role="status" aria-hidden="true"></span>
                Create time entry
            </button>
        </div>

        {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

        {# Confirm create and stop modal #}
        <div class="modal fade" id="confirm-stop-modal" tabindex="-1" aria-labelledby="confirm-stop-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirm-stop-modal-label">Stop running time entry?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        You have a running time entry, stop it and start a new one?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-danger js-stop-running">Stop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('time_entry_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('time_entry_list') }}
{% endblock %}

