{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}

{% block content_class %}w-100{% endblock %}

{% block title %}{{ time.user_duration(timeEntry.duration, app.user) }}{% endblock %}

{% block content_body %}
<div class="p-3 js-data"
     data-duration-format="{{ app.user.durationFormat }}"
     data-time-entry-id="{{ timeEntry.idString }}">

    <div class="js-autocomplete-tags d-flex align-items-center">
        <div class="js-tags tag-list many-rows" data-initial-tags="{{ tags|json_encode|e('html_attr') }}"></div>

        <div class="input-group unset-width flex-shrink-0 align-self-start">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <div class="spinner-border spinner-border-sm text-primary js-load opacity-invisible" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <input type="text" class="js-tag-input" placeholder="tag name..." aria-label="loading indicator">
            <button type="button" class="btn btn-secondary js-add-tag ml-2">Add</button>
        </div>
    </div>

    {{ form_start(form, {attr: {class: 'mt-2'}}) }}

    {% if form.task is defined %}
        {{ form_row(form.task) }}
    {% endif %}

    <div class="mt-2">
        {% if not timeEntry.over %}
            <div class="spinner-border spinner-border-sm text-primary mr-1" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        {% endif %}

        Duration
        <span class="ml-1 {% if timeEntry.running %}js-timer{% endif %}"
              data-start="{{ timeEntry.startedAt.timestamp }}">
            {{ time.user_duration(timeEntry.duration, app.user) }}
        </span>
    </div>

    <div class="d-flex">
        <div>
            <div>
                {{ form_label(form.startedAt) }}
                {% if form.endedAt.vars.errors|length != 0 %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="d-inline-flex mt-1">
                {{ form_widget(form.startedAt, {attr: {class: 'anti-form-control'}}) }}
            </div>
        </div>

        <div class="ml-4">
            <div>
                {{ form_label(form.endedAt) }}
                {% if form.startedAt.vars.errors|length != 0 %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="d-inline-flex mt-1">
                {{ form_widget(form.endedAt, {attr: {class: 'anti-form-control'}}) }}
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs mt-3" id="description-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active markdown-link" id="home-tab" data-toggle="tab" href="#markdown" role="tab" aria-controls="home" aria-selected="true">
                <i class="fas fa-sync-alt fa-spin mr-1 d-none js-loading"></i>
                Markdown
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="markdown-tab" data-toggle="tab" href="#preview" role="tab" aria-controls="profile" aria-selected="false">Preview</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-selected="false">Details</a>
        </li>
    </ul>
    <div class="tab-content" id="description-content">
        <div class="tab-pane fade show active" id="markdown" role="tabpanel" aria-labelledby="markdown-tab">
            {{ form_widget(form.description, {attr: { rows: 10, class: 'js-description' }}) }}
        </div>
        <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="profile-tab">
            <div id="preview-content" class="border rounded"></div>
        </div>
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Created</td>
                        <td>{{ time.user_date(timeEntry.createdAt, app.user) }}</td>
                    </tr>
                    <tr>
                        <td>Last Updated</td>
                        <td>{{ time.user_date(timeEntry.updatedAt, app.user) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {{ form_widget(form) }}
    <div class="d-flex mt-3">
        <button type="submit" class="btn btn-primary">Update</button>
        {% if not timeEntry.over %}
            <a href="{{ path('time_entry_stop', {id: timeEntry.id}) }}" class="btn btn-secondary ml-2">Stop</a>
        {% else %}
            <a href="{{ path('time_entry_resume', {id: timeEntry.idString}) }}" class="btn btn-secondary ml-2">Resume</a>
            <a href="{{ path('time_entry_continue', {id: timeEntry.idString}) }}" class="btn btn-secondary ml-2">Continue</a>
        {% endif %}


        <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#delete-modal">
            Delete
        </button>
    </div>
    {{ form_end(form) }}

    <!-- Delete modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-label">Are you sure you want to delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This will delete the time entry.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{{ path('time_entry_delete', {id: timeEntry.id}) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('time_entry') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('time_entry') }}
{% endblock %}

