{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}

{% block content_class %}w-100{% endblock %}

{% block title %}{{ time.user_duration(timeEntry.duration, app.user) }}{% endblock %}

{% block content_body %}
<div class="p-3 js-data"
     data-duration-format="{{ app.user.durationFormat }}"
     data-time-entry-id="{{ timeEntry.idString }}"
     data-assigned-task="{{ timeEntry.assignedToTask }}">

    <div class="d-flex justify-content-between">

        <div class="autocomplete js-autocomplete js-autocomplete-task">
            <div class="d-flex bg-white">
                <div class="search border-right-0 rounded-right-0">
                    <input
                            type="text"
                            class="js-input"
                            placeholder="task name..."
                            name="task"
                            autocomplete="off"
                            {% if timeEntry.assignedToTask %}
                            value="{{ timeEntry.task.name }}"
                            {% endif %}
                    >
                    <button class="clear js-clear btn btn-sm"><i class="fas fa-times"></i></button>
                </div>
                <button type="button" class="btn js-delete btn-outline-danger rounded-left-0">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
            <div class="search-results js-search-results d-none"></div>
        </div>

        <div class="mt-2">
            {% if not timeEntry.over %}
                <div class="spinner-border spinner-border-sm text-primary mr-1" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            {% endif %}

            Duration
            <span class="ml-1 js-timer {% if timeEntry.running %}js-running-timer{% endif %}"
                  data-start="{{ timeEntry.startedAt.timestamp * 1000 }}"
                  data-duration-format="{{ app.user.durationFormat }}">
            {{ time.user_duration(timeEntry.duration, app.user) }}
        </span>
        </div>
    </div>

    <div class="js-autocomplete-tags d-flex align-items-center mt-2">
        <div class="js-tags tag-list many-rows" data-initial-tags="{{ tags|json_encode|e('html_attr') }}"></div>

        <div class="autocomplete js-autocomplete js-autocomplete-tags">
            <div class="d-flex bg-white">
                <div class="search border-right-0 rounded-right-0">
                    <input
                            type="text"
                            class="js-input"
                            placeholder="tag name..."
                            name="tag"
                            autocomplete="off">
                    <button class="clear js-clear btn btn-sm"><i class="fas fa-times"></i></button>
                </div>
                <button type="button" class="btn js-add btn-outline-primary rounded-left-0">
                    Add
                </button>
            </div>
            <div class="search-results js-search-results d-none"></div>
        </div>
    </div>

    {{ form_start(form, {attr: {class: 'mt-2'}}) }}

    <div class="d-flex">
        <div>
            <div>
                {{ form_label(form.startedAt) }}
                {% if form.endedAt.vars.errors|length != 0 %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="d-inline-flex mt-1">
                {{ form_widget(form.startedAt, {attr: {class: 'anti-form-control'}}) }}
            </div>
        </div>

        <div class="ml-4">
            <div>
                {{ form_label(form.endedAt) }}
                {% if form.startedAt.vars.errors|length != 0 %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="d-inline-flex mt-1">
                {{ form_widget(form.endedAt, {attr: {class: 'anti-form-control'}}) }}
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs mt-3" id="description-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active markdown-link" id="home-tab" data-toggle="tab" href="#markdown" role="tab" aria-controls="home" aria-selected="true">
                <i class="fas fa-sync-alt fa-spin mr-1 d-none js-loading"></i>
                Markdown
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="markdown-tab" data-toggle="tab" href="#preview" role="tab" aria-controls="profile" aria-selected="false">Preview</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-selected="false">Details</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-selected="false">Data</a>
        </li>
    </ul>
    <div class="tab-content" id="description-content">
        <div class="tab-pane fade show active " id="markdown" role="tabpanel" aria-labelledby="markdown-tab">
            {{ form_widget(form.description, {attr: { rows: 10, class: 'js-description' }}) }}
        </div>
        <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="profile-tab">
            <div id="preview-content" class="border rounded-bottom"></div>
        </div>
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Created</td>
                        <td>{{ time.user_date(timeEntry.createdAt, app.user) }}</td>
                    </tr>
                    <tr>
                        <td>Last Updated</td>
                        <td>{{ time.user_date(timeEntry.updatedAt, app.user) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="data" role="tabpanel" aria-labelledby="data-tab">
            <div class="d-flex mt-2 js-add-statistic add-statistic">
                <div class="autocomplete js-autocomplete js-autocomplete-statistic">
                    <div class="d-flex bg-white">
                        <div class="search">
                            <input
                                    type="text"
                                    class="js-input"
                                    placeholder="name..."
                                    name="statistic-name"
                                    autocomplete="off">
                            <button type="button" class="clear js-clear btn btn-sm"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="search-results js-search-results d-none"></div>
                </div>
                <input
                        type="number"
                        class="js-statistic-input border rounded ml-2 focusable"
                        placeholder="value..."
                        autocomplete="off"
                />
                <button type="button" class="ml-2 btn btn-sm js-add btn-outline-primary">
                    Add
                </button>
            </div>
            <div class="statistic-values mt-2">
                {% for value in timeEntry.statisticValues %}
                    <div class="statistic-value-row" data-id="{{ value.idString }}">
                        <div class="content">
                            <span class="statistic-name">{{ value.statistic.name }}</span>
                            <span class="statistic-value ml-3">{{ value.value }}</span>
                        </div>
                        <button type="button" class="btn btn-outline-danger btn-sm rounded-left-0 js-delete">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {{ form_widget(form) }}
    <div class="d-flex mt-3">
        <button type="submit" class="btn btn-primary">Update</button>
        {% if not timeEntry.over %}
            <a href="{{ path('time_entry_stop', {id: timeEntry.id}) }}" class="btn btn-secondary ml-2">Stop</a>
        {% else %}
            <a href="{{ path('time_entry_resume', {id: timeEntry.idString}) }}" class="btn btn-secondary ml-2">Resume</a>
            <a href="{{ path('time_entry_continue', {id: timeEntry.idString}) }}" class="btn btn-secondary ml-2">Continue</a>
        {% endif %}


        <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#delete-modal">
            Delete
        </button>
    </div>
    {{ form_end(form) }}

    <!-- Delete modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-label">Are you sure you want to delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This will delete the time entry.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{{ path('time_entry_delete', {id: timeEntry.id}) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('time_entry') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('time_entry') }}
{% endblock %}

