{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}
{% import 'components/autocomplete.html.twig' as autocomplete %}
{% import 'components/statistic-value.html.twig' as statistics %}

{% block content_class %}w-100{% endblock %}

{% block title %}{{ time.user_duration(timeEntry.duration, app.user) }}{% endblock %}

{% block content_body %}
<div class="resource js-data"
     data-duration-format="{{ app.user.durationFormat }}"
     data-time-entry-id="{{ timeEntry.idString }}"
     data-assigned-task="{{ timeEntry.assignedToTask }}">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('time_entry_index') }}">Time entries</a></li>
            <li class="breadcrumb-item active" aria-current="page">current</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between">
        {% set taskName = '' %}
        {% if timeEntry.assignedToTask %}
            {% set taskName = timeEntry.task.name %}
        {% endif %}

        {{ autocomplete.removable('task', { button: { class: 'bg-weak-white btn-outline-danger'}, search: { value: taskName, placeholder: 'task name' } }) }}

        <div
            class="mt-2">
            {% if not timeEntry.over %}
                <div class="spinner-border spinner-border-sm text-primary me-1" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            {% endif %}

            Duration
            <span class="ms-1"
                  {% if timeEntry.running %}
                  {{ stimulus_controller('time-elapsed-title', {
                    start: timeEntry.startedAt.timestamp,
                    format: app.user.durationFormat
                  }) }}
                  {% endif %}>
            {{ time.user_duration(timeEntry.duration, app.user) }}
        </span>
        </div>
    </div>

    <div class="js-autocomplete-tags-container d-flex align-items-center mt-2">
        <div class="js-tags tag-list many-rows" data-initial-tags="{{ tags|json_encode|e('html_attr') }}"></div>

        {{ autocomplete.add('tags', { button: { class: 'bg-weak-white btn-outline-primary'}, search: { placeholder: 'tag name' }  }) }}
    </div>

    {{ form_start(form, {attr: {class: 'mt-2'}}) }}

    <div class="d-flex">
        <div>
            <div>
                {{ form_label(form.startedAt) }}
                {% if form.endedAt.vars.errors|length != 0 %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="d-inline-flex mt-1">
                {{ form_widget(form.startedAt, {attr: {class: 'anti-form-control'}}) }}
            </div>
        </div>

        <div class="ms-4">
            <div>
                {{ form_label(form.endedAt) }}
                {% if form.startedAt.vars.errors|length != 0 %}
                    &nbsp;
                {% endif %}
            </div>
            <div class="d-inline-flex mt-1">
                {{ form_widget(form.endedAt, {attr: {class: 'anti-form-control'}}) }}
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs mt-3" id="description-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link active markdown-link" id="markdown-tab" data-bs-toggle="tab" data-bs-target="#markdown" role="tab" aria-controls="markdown" aria-selected="true">
                <span
                    {{ stimulus_controller('toggle-class', {
                        className: 'd-none',
                        key: timeEntry.idString
                    }) }}
                    data-action="upload-field:update:start@window->toggle-class#remove upload-field:update:finish@window->toggle-class#add"
                    class="me-1 d-none">
                    <i class="fas fa-sync-alt fa-spin"></i>
                </span>
                Markdown
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" id="markdown-preview-tab" data-bs-toggle="tab" data-bs-target="#preview" role="tab" aria-controls="profile" aria-selected="false">Preview</button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" role="tab" aria-selected="false">Details</button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" id="data-tab" data-bs-toggle="tab" data-bs-target="#data" role="tab" aria-selected="false">Data</button>
        </li>
    </ul>
    <div class="tab-content" id="description-content">
        <div class="tab-pane fade show active" id="markdown" role="tabpanel" aria-labelledby="markdown-tab">
            {{ form_widget(form.description, {
                attr: {
                    rows: 10,
                    class: 'border-top-0 js-description',
                    'data-controller': 'upload-field',
                    'data-action': 'upload-field#update',
                    'data-upload-field-key-value': timeEntry.idString,
                    'data-upload-field-field-name-value': 'description',
                    'data-upload-field-url-value': path('json_time_entry_update', {id: timeEntry.idString} )
                }}
            ) }}
        </div>
        <div class="tab-pane contained fade" id="preview" role="tabpanel" aria-labelledby="profile-tab">
            <div
                id="preview-content"
                {{ stimulus_controller('markdown-updater', {
                    field: 'value',
                    key: timeEntry.idString
                }) }}
                data-action="upload-field:update:finish@window->markdown-updater#convert">
                {{ timeEntry.description|markdown_to_html }}
            </div>
        </div>
        <div class="tab-pane fade bg-white" id="details" role="tabpanel" aria-labelledby="details-tab">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="border-top-0">
                        <th>Type</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Created</td>
                        <td>{{ time.user_datetime(timeEntry.createdAt, app.user) }}</td>
                    </tr>
                    <tr>
                        <td>Last Updated</td>
                        <td>{{ time.user_datetime(timeEntry.updatedAt, app.user) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="data" role="tabpanel" aria-labelledby="data-tab">
            <div
                class="d-flex mt-2 js-add-statistic add-statistic"
                {{ stimulus_controller('create-statistic-value', {
                    createUrl: path('json_time_entry_statistic_create', { id: timeEntry.idString })
                }) }}>
                {{ autocomplete.list('statistic', {
                    search: {
                        tabIndex: '1',
                        'data-create-statistic-value-target': 'name'
                    }
                }) }}
                <div class="ms-2">
                    <label class="visually-hidden" for="add-statistic-value">record value</label>
                    <input
                            id="add-statistic-value"
                            tabindex="2"
                            type="number"
                            class="form-control"
                            data-create-statistic-value-target="value"
                            placeholder="value..."
                            autocomplete="off"
                    />
                </div>
                <button
                        type="button"
                        class="ms-2 btn btn-sm js-add bg-weak-white btn-outline-primary"
                        data-action="create-statistic-value#create">
                    <span
                        class="spinner-border spinner-border-sm d-none"
                        role="status"
                        aria-hidden="true"
                        data-create-statistic-value-target="loading"></span>
                    <span
                        class="visually-hidden"
                        data-create-statistic-value-target="loading">Loading...</span>
                    Add
                </button>
            </div>
            {{ statistics.valueList(timeEntry.statisticValues, path('time_entry_record_index', {id: timeEntry.idString}), {class: 'mt-2'}) }}
        </div>
    </div>

    {{ form_widget(form) }}
    <div class="d-flex mt-3">
        <button type="submit" class="btn btn-primary">Update</button>
        {% if not timeEntry.over %}
            <a href="{{ path('time_entry_stop', {id: timeEntry.id}) }}" class="btn btn-secondary ms-2">Stop</a>
        {% else %}
            <a href="{{ path('time_entry_resume', {id: timeEntry.idString}) }}" class="btn btn-secondary ms-2">Resume</a>
            <a href="{{ path('time_entry_continue', {id: timeEntry.idString}) }}" class="btn btn-secondary ms-2">Continue</a>
        {% endif %}

        <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#delete-modal">
            Delete
        </button>
    </div>
    {{ form_end(form) }}

    <!-- Delete modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-label">Are you sure you want to delete?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    This will delete the time entry.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{{ path('time_entry_delete', {id: timeEntry.id}) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('time_entry') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('time_entry') }}
{% endblock %}

