{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}
{% import 'components/autocomplete.html.twig' as autocomplete %}

{% block content_class %}w-100{% endblock %}

{% block title %}Note: {{ note.title }}{% endblock %}

{% block content_body %}
<div class="resource js-data"
     data-duration-format="{{ app.user.durationFormat }}"
     data-note-id="{{ note.idString }}">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('note_index') }}">Notes</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ note.title }}</li>
        </ol>
    </nav>

    {{ form_start(form) }}
    {{ form_row(form.title) }}

    <div class="js-autocomplete-tags-container d-flex align-items-center mt-2">
        <div class="js-tags tag-list many-rows" data-initial-tags="{{ tags|json_encode|e('html_attr') }}"></div>

        {{ autocomplete.add('tags', { button: { class: 'bg-weak-white btn-outline-primary'}, search: { placeholder: 'tag name' }  }) }}
    </div>

    <ul class="nav nav-tabs mt-3" id="description-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link active markdown-link" id="markdown-tab" data-bs-toggle="tab" data-bs-target="#markdown" role="tab" aria-controls="markdown" aria-selected="true">
                <span
                    {{ stimulus_controller('toggle-class', {
                        className: 'd-none',
                        key: note.idString
                    }) }}
                    data-action="upload-field:update:start@window->toggle-class#remove upload-field:update:finish@window->toggle-class#add"
                    class="me-1 d-none">
                    <i class="fas fa-sync-alt fa-spin"></i>
                </span>
                Description
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" id="markdown-preview-tab" data-bs-toggle="tab" data-bs-target="#preview" role="tab" aria-controls="profile" aria-selected="false">Preview</button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" role="tab" aria-selected="false">Details</button>
        </li>
    </ul>
    <div class="tab-content" id="description-content">
        <div class="tab-pane fade show active" id="markdown" role="tabpanel" aria-labelledby="markdown-tab">
            {{ form_widget(form.content, {
                attr: {
                    rows: 10,
                    class: 'border-top-0 js-description',
                    'data-controller': 'upload-field',
                    'data-action': 'upload-field#update',
                    'data-upload-field-key-value': note.idString,
                    'data-upload-field-field-name-value': 'content',
                    'data-upload-field-url-value': path('json_note_update', {id: note.idString} )
                }})
            }}
        </div>
        <div class="tab-pane contained fade" id="preview" role="tabpanel" aria-labelledby="profile-tab">
            <div
                id="preview-content"
                {{ stimulus_controller('markdown-updater', {
                    field: 'value',
                    key: note.idString
                }) }}
                data-action="upload-field:update:finish@window->markdown-updater#convert">
                {{ note.content|markdown_to_html }}
            </div>
        </div>
        <div class="tab-pane fade bg-white" id="details" role="tabpanel" aria-labelledby="details-tab">
            <table class="table table-hover table-bordered">
                <thead>
                <tr class="border-top-0">
                    <th>Type</th>
                    <th>Timestamp</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Created</td>
                    <td>{{ time.user_datetime(note.createdAt, app.user) }}</td>
                </tr>
                <tr>
                    <td>Updated</td>
                    <td>{{ time.user_datetime(note.updatedAt, app.user) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {{ form_widget(form) }}
    <div class="d-flex mt-2">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#delete-modal">
            Delete
        </button>
    </div>
    {{ form_end(form) }}
</div>

<!-- Delete modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-label">Are you sure you want to delete?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                This will delete the note
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ path('note_delete', {id: note.id}) }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('note') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('note') }}
{% endblock %}