{% import 'flash/utilities.html.twig' as flashes %}

{% extends 'base.html.twig' %}

{% block center %}
    {% set path = app.request.pathInfo %}

    <div class="center">
        {% block sidebar %}
            <div class="sidebar">
                <ul class="list-unstyled">
                    <li><a href="{{ path('time_entry_today') }}" {% if path == '/time-entry/today' %} class="active" {% endif %}>Today</a></li>
                    <li><a href="{{ path('time_entry_index') }}" {% if (path != '/time-entry/today') and (path starts with '/time-entry') %} class="active" {% endif %}>Time Entries</a></li>
                    <li><a href="{{ path('task_index') }}" {% if path starts with '/task' %} class="active"{% endif %}>Tasks</a></li>
                    <li><a href="{{ path('timestamp_index') }}" {% if path starts with '/timestamp' %} class="active"{% endif %}>Timestamps</a></li>
                    <li><a href="{{ path('tag_index') }}" {% if path starts with '/tag' %} class="active" {% endif %}>Tags</a></li>
                    <li><a href="{{ path('statistic_index') }}" {% if path starts with '/statistic' %} class="active" {% endif %}>Statistics</a></li>
                </ul>
            </div>
        {% endblock %}

        {% block content %}
            <div class="content full-width-with-sidebar ml-sidebar {% block content_class %}{% endblock %}">
                {% block content_header %}
                    {% if app.request.hasPreviousSession %}
                        {% block flash_messages %}
                            <div id="flash-messages">
                                {{ flashes.display() }}
                            </div>
                        {% endblock flash_messages %}
                    {% endif %}
                    <div id="fixed-flash-messages" class="sidebar-width-dependent full-width full-width-with-sidebar">
{#                        <div class="alert alert-success alert-dismissible fade show flash">#}
{#                            Wowie!#}
{#                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                                <span aria-hidden="true">&times;</span>#}
{#                            </button>#}
{#                        </div>#}
                    </div>
                {% endblock %}

                {% block content_body %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock center %}