{% import 'flash/utilities.html.twig' as flashes %}

{% extends 'base.html.twig' %}

{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block center %}
<div class="container-fluid">
    <div class="row">
        {% set path = app.request.pathInfo %}

        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <ul class="list-unstyled sidebar-sticky text-center text-md-left">
                <li><a href="{{ path('time_entry_today') }}" {% if path == '/time-entry/today' %} class="active" {% endif %}>Today</a></li>
                <li><a href="{{ path('time_entry_index') }}" {% if (path != '/time-entry/today') and (path starts with '/time-entry') %} class="active" {% endif %}>Time Entries</a></li>
                <li><a href="{{ path('task_index') }}" {% if path starts with '/task' %} class="active"{% endif %}>Tasks</a></li>
                <li><a href="{{ path('timestamp_index') }}" {% if path starts with '/timestamp' %} class="active"{% endif %}>Timestamps</a></li>
                <li><a href="{{ path('tag_index') }}" {% if path starts with '/tag' %} class="active" {% endif %}>Tags</a></li>
                <li><a href="{{ path('statistic_index') }}" {% if path starts with '/statistic' %} class="active" {% endif %}>Statistics</a></li>
                <li><a href="{{ path('statistic_value_index') }}" {% if path starts with '/record' %} class="active" {% endif %}>Records</a></li>
                <li><a href="{{ path('note_index') }}" {% if path starts with '/note' %} class="active" {% endif %}>Notes</a></li>
            </ul>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 bg-light">
            {% if app.request.hasPreviousSession %}
                {% block flash_messages %}
                    <div id="flash-messages">
                        {{ flashes.display() }}
                    </div>
                {% endblock flash_messages %}
            {% endif %}
            <div id="fixed-flash-messages" class="col-md-9 col-lg-10">
            </div>
            {% block content_body %}
            {% endblock %}
        </main>
    </div>
</div>
{% endblock center %}