{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}

{% block content_class %}w-100{% endblock %}

{% block title %}Tags{% endblock %}

{% block content_body %}
<div class="p-3">
    <h1 class="text-center">Tags</h1>

    <div class="filter table-filter mb-3">
        <div class="filter-title">Filter</div>
        {{ form_start(filterForm) }}
        {{ form_widget(filterForm) }}
        <button type="submit" class="btn btn-primary">Search</button>
        {{ form_end(filterForm) }}
    </div>

    {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

    <table class="table table-bordered table-hover mt-3">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'tag.name') }}</th>
                <th>Color</th>
                <th>Created</th>
                <th>Links</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in pagination.items %}
            <tr>
                <td><a href="{{ path('tag_view', {id: tag.idString}) }}">{{ tag.name }}</a></td>
                <td class="">
                    <span class="color-tile align-text-bottom mr-2" style="background-color: {{ tag.color }}"></span>
                    <span class="color-tile-text">{{ tag.color }}</span>
                </td>
                <td>{{ time.user_date(tag.createdAt, app.user) }}</td>
                <td><a href="{{ path('time_entry_index', {tags: tag.name }) }}">Time entries</a> </td>
                <td>
                    <a href="{{ path('tag_view', {id: tag.idString}) }}" class="btn btn-primary">View</a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td class="text-center" colspan="4">No results found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

    <div class="mb-3">
        <div class="inline-form-header mb-2">Add Tag</div>
        {{ form_start(form, {attr: {class: 'form-inline'}}) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {attr: {class: 'ml-2'}}) }}
        {{ form_widget(form.color, {attr: {class: 'ml-2 w-p-50'}}) }}
        <button type="submit" class="btn btn-primary ml-2">Create</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

