{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}

{% block content_class %}w-100{% endblock %}

{% block title %}Tags{% endblock %}

{% block content_body %}
<div class="resource">
    <h1 class="text-center">Tags</h1>

    <div class="filter table-filter mb-3">
        <div class="filter-title">Filter</div>
        {{ form_start(filterForm, {
            attr: {
                'data-controller': "load-form",
                'data-action': "submit->load-form#start",
            }
        }) }}
        {{ form_widget(filterForm) }}
        <button
                type="submit"
                class="btn btn-primary"
                data-load-form-target="button">
                <span
                        class="spinner-border spinner-border-sm d-none"
                        data-load-form-target="loading"
                        role="status"
                        aria-hidden="true">
                </span>
            Search
        </button>
        {{ form_end(filterForm) }}
    </div>

    {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}

    <label class="d-block form-label"><strong>Add Tag</strong></label>
    {{ form_start(form, {attr: {class: 'row g-2'}}) }}
    <div class="col">
        {{ form_widget(form.name, {
            attr: {
                placeholder: 'name',
                autocomplete: 'off'
            }}
        ) }}
    </div>
    <div class="col-auto">
        {{ form_widget(form.color, {attr: {class: 'w-p-50'}}) }}
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    {{ form_end(form) }}

    <table class="table table-bordered table-hover mt-3">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'tag.name') }}</th>
                <th>Color</th>
                <th>{{ knp_pagination_sortable(pagination, 'Created', 'tag.createdAt') }}</th>
                <th>Links</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in pagination.items %}
            <tr>
                <td><a href="{{ path('tag_view', {id: tag.idString}) }}">{{ tag.name }}</a></td>
                <td class="">
                    <span class="color-tile align-text-bottom me-2" style="background-color: {{ tag.color }}"></span>
                    <span class="color-tile-text">{{ tag.color }}</span>
                </td>
                <td>{{ time.user_datetime(tag.createdAt, app.user) }}</td>
                <td><a href="{{ path('time_entry_index', {tags: tag.name }) }}">Time entries</a> </td>
                <td>
                    <a href="{{ path('tag_view', {id: tag.idString}) }}" class="btn btn-primary">View</a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td class="text-center" colspan="4">No results found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination, null, {}, {'align': 'center'}) }}
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

