{% extends 'sidebar.html.twig' %}

{% block content_class %}w-100{% endblock %}

{% block title %}TimeTracker{% endblock %}

{% block content_body %}
<div class="p-3">

    <h1 class="text-center">{{ tag.name }}</h1>

    {{ form_start(form) }}
    {{ form_label(form.color) }}
    {{ form_widget(form.color, {attr: {class: 'w-p-50'}}) }}

    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary mt-4">Update</button>
    {{ form_end(form) }}
</div>
{% endblock %}
