{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}

{% block content_class %}w-100{% endblock %}

{% block title %}TimeTracker{% endblock %}

{% block content_body %}
<div class="p-3">

    <h1 class="text-center">{{ tag.name }}</h1>

    <h4 class="text-center">Referenced {{ references }} time(s)</h4>

    <div class="mt-2">Preview</div>
    <div class="tag js-tag-preview" style="background-color: {{ tag.color }}">{{ tag.name }}</div>
    <hr/>

    <div class="mb-2">Created: {{ time.user_datetime(tag.createdAt, app.user) }}</div>

    {{ form_start(form) }}
    {{ form_label(form.color) }}
    {{ form_widget(form.color, {attr: {class: 'w-p-50 js-tag-color'}}) }}

    {{ form_widget(form) }}


    <div class="mt-2">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#delete-modal">
            Delete
        </button>
    </div>
    {{ form_end(form) }}


</div>

<!-- Delete modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-label">Are you sure you want to delete?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This will delete the tag
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{{ path('tag_delete', {id: tag.id}) }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('tag') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('tag') }}
{% endblock %}

