{% extends 'sidebar.html.twig' %}
{% import 'time/partials.html.twig' as time %}

{% block content_class %}w-100{% endblock %}
{% block turbo %}false{% endblock %}
{% block title %}Tag: {{ tag.name }}{% endblock %}

{% block content_body %}
<div class="resource">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('tag_index') }}">Tags</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ tag.name }}</li>
        </ol>
    </nav>

    <h1 class="text-center">{{ tag.name }}</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Tag</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('report_tag_time_entry', {id: tag.id}) }}">Time Entry Report</a>
        </li>
    </ul>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Type</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Preview</td>
            <td>
                <div
                    {{ stimulus_controller('style-setter',
                        { key: tag.idString ~ '-color', property: 'backgroundColor' }
                    ) }}
                    data-action="value-emitter:change@window->style-setter#setProperty"
                    class="tag js-tag-preview"
                    style="background-color: {{ tag.color }}">
                    {{ tag.name }}
                </div>
            </td>
        </tr>
        <tr>
            <td>Created</td>
            <td>{{ time.user_datetime(tag.createdAt, app.user) }}</td>
        </tr>
        <tr>
            <td>References</td>
            <td>{{ references }}</td>
        </tr>
        <tr>
            <td>Total time</td>
            <td>{{ time.user_duration(duration, app.user) }}</td>
        </tr>
        </tbody>
    </table>


    {{ form_start(form) }}
    {{ form_label(form.color) }}
    {{ form_widget(form.color, {
        attr: {
            class: 'w-p-50 js-tag-color',
            'data-controller': 'value-emitter',
            'data-value-emitter-debounce-value': 100,
            'data-value-emitter-key-value': tag.idString ~ '-color',
            'data-action': 'value-emitter#valueChanged'
        }})
    }}

    {{ form_widget(form) }}

    <div class="mt-2">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#delete-modal">
            Delete
        </button>
    </div>
    {{ form_end(form) }}
</div>

<!-- Delete modal -->
<div
    id="delete-modal"
    class="modal fade"
    tabindex="-1"
    aria-labelledby="delete-modal-label"
    aria-hidden="true"
    data-turbo="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-label">Are you sure you want to delete?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <turbo-frame
                    id="tag-partial-remove"
                    class="modal-body"
                    loading="lazy"
                    src={{ path('tag_delete', {id: tag.id}) }}
            >
                Loading...
            </turbo-frame>
        </div>
    </div>
</div>
{% endblock %}
