{% extends 'sidebar.html.twig' %}

{% block content_class %}w-100{% endblock %}

{% block title %}TimeTracker{% endblock %}

{% block content_body %}
    <div class="p-3">
        <h1>{{ user.username }}</h1>
        {{ form_start(form) }}

        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary" name="how">Update</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

