{% extends 'sidebar.html.twig' %}
{% import 'tag/partials.html.twig' as tags %}

{% block content_class %}w-100{% endblock %}

{% block title %}Report: Today{% endblock %}

{% block content_body %}
    <div class="resource">
        <h1 class="text-center">Today</h1>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('today_index') }}">Entries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Report</a>
            </li>
        </ul>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Tag</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for item in summary %}
                <tr>
                    <td>
                        {{ tags.view(item.name, item.color) }}
                    </td>
                    <td>{{ item.duration }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Total time</th>
                    <td>{{ totalTime }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('today') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('today') }}
{% endblock %}

